.header-wrapper {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 59px;
  padding-left: 50px;
  z-index: 2;
}

.logo {
  width: 116px;
  height: 41px;
  padding-top: 10px;

  img {
    object-fit: cover;
  }
}

.search-wrapper {
  display: flex;
}

.user-block-wrapper {
  width: 383px;
  height: 59px;
}




