.fieldsWrap {
  margin: 25px 0;
}

.errors {
  color: #ff7f7f;
  font-size: 13px;
  text-align: center;
  margin-bottom: 25px;
}

.signupMessage {
  color: #91d763;
  font-size: 13px;
  text-align: center;
  margin: 25px 0;
}
