.main {
    width: 100%;
    height: 35px;
    border: 0;
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: 400;
    color: #123;
    cursor: pointer;

    &:hover {
      background-color: darken(#f2f2f2, 10%);
    }
}
