.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background-color: #00b3be;


  .right-section {
    position: relative;
    width: 383px;
    padding: 25px;
    justify-content: center;
    align-items: center;

    .logo {
      width: 100%;
      height: 69px;
      margin-top: 75px;
      margin-bottom: 100px;
      background: url('../../../images/sell-it.png') center no-repeat;
      background-size: contain;
    }

    .auth-buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 50px 0 25px 0;

      a {
         position: relative;
         &:before {
           content: '';
           position: absolute;
           height: 3px;
           background-color: #91d763;
           bottom: 0;
           left: 0;
           right: 0;
           opacity: 0;
           transition: opacity 0.15s linear;
           z-index: 1;
         }
         &:hover, &.authBtnActive {
            &:before {
              opacity: 1;
            }
         }
      }
    }

    .auth-form {
      width: 100%;
    }

    a {
      width: 45%;
    }
  }

  .left-section {
    width: 100%;
    height: 100%;
    background: url('../../../images/login-right-section-image.jpg') 0 80% no-repeat;
    background-size: cover;
  }

  .auth-footer {
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 22px;
    justify-content: center;
    align-items: center;
    left: 0;
    padding: 0 20px;

    span {
      font-size: 14px;
      font-weight: 400;
      color: #f2f2f2;
    }
  }
}


