.wrap {
  display: flex;
  position: relative;
  justify-content: center;
  height: 100%;
  align-items: center;
  background-color: #00b3be;

  &:hover {
    .expanded-menu {
      opacity: 1;
    }

    border-left: 5px solid #4a4a4a;
  }

  .user-block-wrapper {
    width: 100%;
  }

  .expanded-menu {
    position: absolute;
    height: 44px;
    top: 59px;
    left: -5px;
    right: 0;
    opacity: 0;
    background-color: #00b3be;
    transition: opacity 0.15s linear;

    ul {
      display: flex;
      height: 100%;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 5px solid #4a4a4a;

      a {
        font-size: 16px;
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .main-block {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 18px;
    padding: 0 15px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      margin-right: 10px;
    }

    a {
      color: #4a4a4a;
      text-decoration: none;
    }
  }

  span  {
    color: white;
    font-weight: 700;
    a {
      color: #4a4a4a;
      text-decoration: none;
    }
  }
}

.sign-out-icon {
  font-size: 25px;
  cursor: pointer;
  color: #fff;
}

.user-title-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}
