.footer {
  position: fixed;
  display: flex;
  bottom: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #00b3be;
  height: 49px;
  z-index: 2;

  span {
    color: white;
    font-size: 18px;
    font-weight: 700;
  }
}
