.item-wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  height:250px;
  margin: 15px 15px 15px 0;

}

.item-image {
  height: 200px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.item-title {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: #00b3be;
  z-index: 1;

  span {
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  i {
    color: white;
    cursor: pointer;
  }

}
