.auth-input-main {
  width: 100%;
  height: 31px;
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 3px solid #f2f2f2;
  color: #f2f2f2;
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0 3px 0;
  padding-left: 10px;

  &::placeholder {
    color: #f2f2f2;
  }

  &:focus {
    border-bottom: 3px solid #91d763;
    &::placeholder {
      color: #91d763;
    }
  }
}

.error-text {
  font-size: 9px;
  color: #ff7f7f;
}

.auth-input-error {
  @extend .auth-input-main;
  border-left: 3px solid #ff7f7f;
}


