.searchWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;

  i {
    width: 11px;
    padding-left: 12px;
    padding-bottom: 5px;
  }
}

.searchInput {
  width: 100%;
  padding-left: 25px;
  padding-bottom: 5px;
  outline: 0;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #00b3be;
  font-size: 14px;


  &::placeholder {
    font-size: 14px;
    color: #4a4a4a;
  }
}
